<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">

<title>Document</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="contact.css">
<script type="text/javascript" src="script.js"></script>
</head>
<body>
	<div id="overlay">
		<form>
			<h1>Contact Admin</h1>

			<label for="name">Name :</label>
			<input type="text" id="name" placeholder=" name">
			<small class="error"></small>

			<label for="email">Emali :</label>
			<input type="text" id="name" placeholder=" email">
			<small class="error"></small>

            <label for="name">Message :</label>
			<textarea id="message" placeholder="message" rows="6"></textarea>
			<small class="error"></small>

			<div class="center">
				<input type="submit" value="Send Message">
				<p id="succsee"></p>	
			</div>
			<a href="home.html">Go Back</a><br>

		</form>
	</div> 	 
	
    <script src="script.js"></script>
</body>
</html>
