<!DOCTYPE html>
<html>
	<head>
	<title>Admin's Homepage</title>
	</head>
<body>
	<fieldset>
		<center><h1>Welcome To Admin's Page!</h1></center>
		<div style='float: right;'>
			<label>Search:</label>
			<input type="text" placeholder="Search.."><br>
		</div>

			<div style="float: left;margin-right:180px">
			  
			   <table border="5" cellpadding="10" cellspacing="2">	
				<tr><td style="width: 40%"><a href="Admin_Home.html">Home</a></td></tr>
						
				<tr><td colspan="5" align="left"><a href="../view/profile.html">Profile</a></td></tr>
				<tr><td colspan="5" align="left"><a href="../view/addvendor.php">Vendor Details</a></td></tr>
				<tr><td colspan="5" align="left"><a href="../view/addcustomer.php">Customer Details</a></td></tr>
				<tr><td colspan="5" align="left"><a href="../view/contact.html">Contact</a></td></tr>
				<tr><td colspan="5" align="left"><a href="../view/employee_details.html">Employee Details</a></td></tr>
				<tr><td colspan="5" align="left"><a href="../view/login.php">Logout</a></td></tr>
			  </table>
			</div>
			
			<div style="float: left">
				  <table>
					<th style="width: 50%">
					<div style='float: right;'>
							<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdz-oEH26TsDVxAiz7GodpWODdLiF1FuoI6Q&usqp=CAU" height="250px" width="250px">
					</div>
					</th>
				</table>
			</div>
	</fieldset>
</body>
</html>